@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://www.facebook.com/jessica.suelen.9275/" target="_blank" class="btn btn-xs btn-light">
            <span class="fab fa-facebook"></span>
        </a>
        <a href="https://www.instagram.com/_jeesuelen/" target="_blank" class="btn btn-xs btn-light">
            <span class="fab fa-instagram"></span>
        </a>
        <a href="https://github.com/jessicacunha/" target="_blank" class="btn btn-xs btn-light">
            <span class="fab fa-github"></span>
        </a>
        <a href="https://www.linkedin.com/in/j%C3%A9ssica-fontes-b7300b11a/" target="_blank" class="btn btn-xs btn-light">
            <span class="fab fa-linkedin"></span>
        </a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
